body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.tela-cadastro {
  min-height: 100vh;
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-cadastro {
  width: 350px;
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card-cadastro h1 {
  text-align: center;
  margin-top: 0;
}

.card-cadastro input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.card-cadastro button {
  margin-top: 10px;
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 13px;
  border-radius: 6px;
  cursor: pointer;
}
