/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f7fa;
    color: #333;
}

/* PÁGINA */
.pagina{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* HEADER */
.header{
    background-color: #0f172a;
    padding: 20px 40px;
}

.header-container{
    width: 100%;
}

.header-nav{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.header-link{
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.header-link:hover{
    color: #38bdf8;
}

